﻿:root {
    --color-brand: rgba(15, 88, 214, 1);
    --color-white: white;
    --color-gray50: rgba(243, 244, 246, 1);
    --color-black: rgba(38, 67, 87, 1);
    --color-gray500: rgba(170, 175, 184, 1);
    --color-gray100: rgb(235, 236, 238);
    font-size: 14px;
}

.login-container {
    display: flex;
    height: 100vh;
}

.logo-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand);
}

    .logo-wrapper svg {
        width: 220px;
        height: 50px;
        fill: var(--color-white);
    }

.content-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-gray50);
}

.title {
    font-size: 28px;
    color: var(--color-black);
    font-weight: 400;
}

    .title.login-title {
        margin-bottom: 60px;
    }

.login-form {
    width: 100%;
    max-width: 326px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_fields-wrapper {
    width: 100%;
    margin-bottom: 56px;
}

.login_form-group:first-of-type {
    margin-bottom: 32px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    min-width: 72px;
    padding: 0 1rem;
    height: 2.5rem;
}

    .btn svg {
        margin-right: 10px;
    }

.btn-primary {
    background-color: var(--color-brand);
}

.form-control {
    padding: 0 0.75rem;
    height: 2.5rem;
    font: inherit;
    border-radius: 0.125rem;
    border: 1px solid var(--color-gray500);
    color: var(--color-black);
}

    .form-control:focus {
        outline: 0.125rem solid rgb(15, 88, 214);
        outline-offset: 0.125rem;
        border-radius: 0.125rem;
        box-shadow: none;
        border-color: var(--color-gray500);
    }

.text-between-lines {
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 39px;
}

    .text-between-lines::after, .text-between-lines::before {
        background-color: var(--color-black);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    .text-between-lines::before {
        right: 29px;
        margin-left: -50%;
    }

    .text-between-lines::after {
        left: 29px;
        margin-right: -50%;
    }

.alternative-buttons_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-outline-primary {
    background-color: var(--color-white);
    color: var(--color-black);
}

    .btn-outline-primary:hover {
        background-color: var(--color-gray100);
        color: var(--color-black);
    }

.input-password_wrapper {
    position: relative;
}

    .input-password_wrapper input {
        padding-right: calc(1.25rem + 0.75rem * 2);
    }

.show-password-btn {
    line-height: 0;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: none;
    background-color: transparent;
}

    .show-password-btn:focus {
        outline: 0;
    }

    .show-password-btn svg {
        width: 17.5px;
        height: 17.5px;
    }
