﻿@model AuthorizationServer.ViewModels.LoginViewModel

<!-- OLD FORM
    
    <form autocomplete="off" asp-route="Login">
    <input type="hidden" asp-for="ReturnUrl" />
    <h3>Log in</h3>
    <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Usersname" asp-for="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-lg form-control-last" placeholder="Enter password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <p>
            <button type="submit" class="btn btn-dark btn-block mt-3">Submit</button>
    </div>
    <p className="forgot-password text-right">
    </p>
</form>
-->


<form class="login-form" autocomplete="off" asp-route="Login">
    <h1 class="title login-title">
        Log in the system</h1>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form_fields-wrapper">
            <div class="form-group login_form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Usersname" asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-password_wrapper">
                    <input type="password" class="form-control form-control-lg form-control-last" placeholder="Password" asp-for="Password" />
                    <button type="button" class="show-password-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" focusable="false" height="100%" width="100%"><path d="M10 3c3.902 0 6.853 2.22 8.852 6.663L19 10c-2 4.667-5 7-9 7-3.902 0-6.853-2.22-8.852-6.663L1 10l.148-.337C3.147 5.22 6.098 3 10 3Zm0 2a5 5 0 1 0 0 10 5 5 0 0 0 0-10Zm0 2a3 3 0 1 1 0 6 3 3 0 0 1 0-6Z"></path></svg>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        @* <p class="text-between-lines">or</p> *@
        @* <div class="alternative-buttons_wrapper"> *@
        @*     <button type="button" class="btn btn-outline-primary"> *@
        @*         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> *@
        @*             <path d="M17.9998 7H15.9998C15.4498 7 14.9998 7.45 14.9998 8V10C14.9998 10.55 15.4498 11 15.9998 11V13H12.9998V5H13.9998C14.4098 5 14.6498 4.53 14.3998 4.2L12.3998 1.53C12.1998 1.26 11.7998 1.26 11.5998 1.53L9.5998 4.2C9.3498 4.53 9.5898 5 9.9998 5H10.9998V13H7.9998V10.93C8.8298 10.49 9.3798 9.57 9.1398 8.5C8.9698 7.73 8.3698 7.1 7.6198 6.89C6.1498 6.48 4.7998 7.59 4.7998 9C4.7998 9.85 5.2998 10.56 5.9998 10.93V13C5.9998 14.1 6.8998 15 7.9998 15H10.9998V18.05C10.1398 18.5 9.6098 19.47 9.8698 20.54C10.0498 21.29 10.6598 21.92 11.4098 22.12C12.8698 22.51 14.2098 21.42 14.2098 20C14.2098 19.15 13.7198 18.42 13.0098 18.05V15H16.0098C17.1098 15 18.0098 14.1 18.0098 13V11C18.5598 11 19.0098 10.55 19.0098 10V8C18.9998 7.45 18.5498 7 17.9998 7Z" fill="#273342" /> *@
        @*         </svg> *@
        @*         USB Key *@
        @*     </button> *@
        @*     <button type="button" class="btn btn-outline-primary"> *@
        @*         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> *@
        @*             <path d="M16.9997 7.00001L12.7097 2.71001C12.0797 2.08001 10.9997 2.52001 10.9997 3.41001V9.59001L7.10973 5.70001C6.71973 5.31001 6.08973 5.31001 5.69973 5.70001C5.30973 6.09001 5.30973 6.72001 5.69973 7.11001L10.5897 12L5.69973 16.89C5.30973 17.28 5.30973 17.91 5.69973 18.3C6.08973 18.69 6.71973 18.69 7.10973 18.3L10.9997 14.41V20.59C10.9997 21.48 12.0797 21.93 12.7097 21.3L16.9997 17C17.3897 16.61 17.3897 15.98 16.9997 15.59L13.4097 12L16.9997 8.42001C17.3897 8.03001 17.3897 7.39001 16.9997 7.00001ZM12.9997 5.83001L14.8797 7.71001L12.9997 9.59001V5.83001ZM14.8797 16.29L12.9997 18.17V14.41L14.8797 16.29Z" fill="#273342" /> *@
        @*         </svg> *@
        @*         Bluetooth merge *@
        @*     </button> *@
        @* </div> *@
        <!-- <p className="forgot-password text-right">
        </p> -->
</form>
