﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <title>OpenIddict - Authorization Server</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/main.css"/>
</head>
<body>
    <div class="login-container">
        <div class="logo-wrapper">
            <svg width="225" height="54" viewBox="0 0 225 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M64.444 53.0499C65.5477 53.0499 66.415 52.1836 66.415 51.0812V22.1806C66.415 21.0782 65.5477 20.2119 64.444 20.2119H28.2574C27.5478 20.2119 26.9171 19.6607 26.9171 18.8732V8.39973C26.9171 7.691 27.469 7.06102 28.2574 7.06102H38.7428C39.4524 7.06102 40.0831 7.61225 40.0831 8.39973V11.7071C40.0831 12.8096 40.9503 13.6758 42.054 13.6758H57.8216C58.9253 13.6758 59.7926 12.8096 59.7926 11.7071V2.49363C59.7926 1.39116 58.9253 0.524933 57.8216 0.524933H9.17857C8.07483 0.524933 7.20762 1.39116 7.20762 2.49363V24.7793C7.20762 25.8818 8.07483 26.748 9.17857 26.748H45.3652C46.0748 26.748 46.7055 27.2993 46.7055 28.0867V45.1751C46.7055 45.8838 46.1536 46.5138 45.3652 46.5138H21.7138C21.0043 46.5138 20.3736 45.9625 20.3736 45.1751V35.3316C20.3736 34.2291 19.5063 33.3629 18.4026 33.3629H2.63501C1.53128 33.3629 0.664062 34.2291 0.664062 35.3316V51.0812C0.664062 52.1836 1.53128 53.0499 2.63501 53.0499H64.444Z" fill="white" />
                <path d="M99.2905 34.1503C99.2905 33.9928 99.4482 33.8353 99.6059 33.8353C99.6847 33.8353 99.7635 33.8353 99.8424 33.9141C99.9212 33.9928 118.212 52.2624 118.369 52.4199C118.448 52.4986 118.921 52.9711 119.71 52.9711H143.282C144.386 52.9711 145.253 52.1049 145.253 51.0024V35.2528C145.253 34.1503 144.386 33.2841 143.282 33.2841H126.253C125.465 33.2841 124.992 32.8904 124.913 32.7329C124.676 32.4966 112.614 20.4482 112.535 20.3694C112.456 20.2907 112.456 20.2119 112.456 20.1332C112.456 20.0544 112.456 19.9757 112.535 19.8969C112.614 19.8182 118.212 14.2271 118.29 14.1483C118.606 13.8333 119.079 13.5971 119.71 13.5971C120.183 13.5971 136.739 13.5971 136.739 13.5971C137.842 13.5971 138.71 12.7309 138.71 11.6284V2.41488C138.71 1.31241 137.842 0.44618 136.739 0.44618H119.788C119 0.44618 118.527 0.918668 118.448 0.997416C118.369 1.07616 99.9212 19.5032 99.9212 19.5032C99.8424 19.5819 99.7635 19.5819 99.6847 19.5819C99.527 19.5819 99.3693 19.4245 99.3693 19.267V2.33613C99.3693 1.23366 98.5021 0.367432 97.3984 0.367432H78.3196C77.2159 0.367432 76.3486 1.23366 76.3486 2.33613V18.0857C76.3486 19.1882 77.2159 20.0544 78.3196 20.0544C79.0291 20.0544 79.6598 20.6057 79.6598 21.3932V31.8666C79.6598 32.5754 79.108 33.2053 78.3196 33.2053C77.2159 33.2053 76.3486 34.0716 76.3486 35.174V50.9236C76.3486 52.0261 77.2159 52.8923 78.3196 52.8923H97.3984C98.5021 52.8923 99.3693 52.0261 99.3693 50.9236L99.2905 34.1503Z" fill="white" />
                <path d="M176.157 53.0499C177.261 53.0499 178.128 52.1836 178.128 51.0812V35.3316C178.128 34.2291 177.261 33.3629 176.157 33.3629C175.448 33.3629 174.817 32.8116 174.817 32.0241V28.0867C174.817 27.378 175.369 26.748 176.157 26.748H183.411C184.12 26.748 184.751 27.2993 184.751 28.0867C184.751 29.1892 185.618 30.0554 186.722 30.0554H202.489C203.593 30.0554 204.46 29.1892 204.46 28.0867V18.8732C204.46 17.7707 203.593 16.9045 202.489 16.9045H186.722C185.618 16.9045 184.751 17.7707 184.751 18.8732C184.751 19.582 184.199 20.2119 183.411 20.2119H176.157C175.448 20.2119 174.817 19.6607 174.817 18.8732V8.39973C174.817 7.691 175.369 7.06102 176.157 7.06102H196.576C197.286 7.06102 197.917 7.61225 197.917 8.39973V11.7071C197.917 12.8096 198.784 13.6758 199.888 13.6758H222.199C223.303 13.6758 224.17 12.8096 224.17 11.7071V2.49363C224.17 1.39116 223.303 0.524933 222.199 0.524933H157.157C156.054 0.524933 155.187 1.39116 155.187 2.49363V18.2432C155.187 19.3457 156.054 20.2119 157.157 20.2119C157.867 20.2119 158.498 20.7632 158.498 21.5507V32.0241C158.498 32.7329 157.946 33.3629 157.157 33.3629C156.054 33.3629 155.187 34.2291 155.187 35.3316V51.0812C155.187 52.1836 156.054 53.0499 157.157 53.0499H176.157Z" fill="white" />
                <path d="M212.344 46.5137C212.344 43.4426 214.63 41.1589 217.626 41.1589C220.543 41.1589 222.908 43.4426 222.908 46.5137C222.908 49.6637 220.622 51.9474 217.626 51.9474C214.63 51.9474 212.344 49.6637 212.344 46.5137ZM217.626 53.0498C221.174 53.0498 224.17 50.2937 224.17 46.5925C224.17 42.8913 221.174 40.1352 217.626 40.1352C214.079 40.1352 211.004 42.8913 211.004 46.5925C211.004 50.2937 214 53.0498 217.626 53.0498ZM216.444 46.9862H217.626L219.361 49.8212H220.464L218.572 46.9075C219.518 46.75 220.307 46.2775 220.307 45.0963C220.307 43.8363 219.518 43.2063 218.021 43.2063H215.498V49.7424H216.523V46.9862H216.444ZM216.444 46.12V44.0726H217.784C218.494 44.0726 219.203 44.2301 219.203 45.0175C219.203 46.0413 218.415 46.12 217.626 46.12H216.444Z" fill="white" />
            </svg>
        </div>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/main.js" crossorigin="anonymous"></script>
</body>
</html>